@page "/projects/create"

@using BuildingBlocks.Application.Messaging
@using global::Projects.Application.Commands.Create

@rendermode InteractiveServer
@inject ICommandDispatcher CommandDispatcher

<h3>Create Project</h3>

<EditForm Model="_model" OnValidSubmit="CreateProject" FormName="create-project">
    <DataAnnotationsValidator />

    <div class="mb-3">
        <label>Name</label>

        <InputText class="form-control"
                   @bind-Value="_model.Name" />
    </div>

    <button type="submit"
            class="btn btn-primary">
        Save
    </button>
</EditForm>

@if (!string.IsNullOrWhiteSpace(_message))
{
    <p>@_message</p>
}

@code
{
    private CreateProjectModel _model = new();

    private string? _message;

    private async Task CreateProject()
    {
        var result =
            await CommandDispatcher.Dispatch(
                new CreateProjectCommand(
                    _model.Name));

        if (result.IsSuccess)
        {
            _message =
                $"Project created: {result.Value}";
        }
        else
        {
            _message =
                result.Error?.Message;
        }
    }

    private sealed class CreateProjectModel
    {
        public string Name { get; set; } = string.Empty;
    }
}